.App {
  text-align: center;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.plates {
  display: flex;
  flex-direction: row;
  width: 15em;
  flex-wrap: wrap;
}

/* for now */
div{
  justify-content: center;
  display: flex;
  flex-direction: column;
  padding: 10%;
}

.plates label{
  width: 10%;
  padding-right: 5em;
}

.plates input {
  width: 3em;
}

#weight{
  width: 3em;
  margin: 1em 1em;

}
button{
  width: 5.5em;
  height: 2em;
  margin-left: 1.5em;
}

/* Chrome, Safari, Edge, Opera */
#weight::-webkit-outer-spin-button,
#weight::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
#weight[type=number] {
  -moz-appearance: textfield;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
